{% extends "layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

{% if data %}
    <div>
    <ol>
        {% for dat in data %}
        <li><b>{{ dat.item_name }}</b></li>
        <ul>
            <li><strong>Category:</strong> {{ dat.category }}</li>
            <li><strong>Description:</strong> {{ dat.description }} </li>
            <li><strong>Price:</strong> ${{ dat.price }}</li>
            <li><strong>Listing Date:</strong> {{dat.date_created}} </li>
            <li><strong>Seller:</strong> {{ dat.owner }} </li>
            <img src= http://127.0.0.1:8000/media/{{dat.image}} width="200" height="200"/>
            <br>
            <input type="submit" value="Bid" name="Bid"/>
        </ul>
        {% endfor %}
    </ol>
    
    </div>

{% else %}
    No active Listings

{% endif %}

{% endblock %}