{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

{% if data %}
    <div>
    <ol>
        {% for dat in data %}
        <li>{{ dat.item_name }}</li>
        <ul>
            <li>{{ dat.category }}</li>
            <li>${{ dat.price }}</li>
            <li> {{dat.date_created}} </li>
            <li> {{ dat.owner }} </li>
            <input type="submit" value="Bid" name="Bid"/>

        </ul>
        {% endfor %}
    </ol>
    
    </div>

{% else %}
    No active Listings

{% endif %}

{% endblock %}